<form accept-charset="UTF-8" action="/login" class="login" id="login" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="eXxZpba1hcc7pW2rcydJLZMM/pLQ/j+89zJbraSiC9Q="></div>

  <div class="field">
    <label for="username">User name</label><br>
    <input id="user_name" name="user_name" size="30" type="text">
  </div>
  <div class="field">
    <label for="Password">Password</label><br>
    <input class="text" id="password" name="password" type="password" value="">
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Login">
  </div>
</form>



