<h1>Signup</h1>
<% if flash[:error] %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
<% flash[:error].each do |e| %>
<p><%= e %></p>
<% end %>
</div>
<% end %>
<p id="notice"><%= notice %></p>
<%= render 'form' %>

