<h2>Tags</h2>
<% @group_tags.each do |group,tags| %>
    <h3> 
      <%= group %> 
    </h3>
    <div class = "row">
    <% tags.each do |tag| %>
      <div class="span1" data-original-title> <%= link_to tag, inventory_path(tag) %></div>
    <% end %>
    </div>
<% end %>

<h2>States</h2>
<div class="row"> 
<% @states.each do |state| %>

<div class="span2"> <%= link_to state, inventory_path(state) %> </div>
<% end %>
</div>
