<h2>Tags</h2>
<% @group_tags.each do |group,tags| %>
<ul> <%= group %> 
<% tags.each do |tag| %>
<li><%= link_to tag, inventory_path(tag) %></li>
<% end %>
</ul>
<% end %>
<h2>States</h2>
<ul>
<% @states.each do |state| %>
<li> <%= link_to state, inventory_path(state) %> </li>
<% end %>
</ul>
